<!-- ESTA ES LA CUADRICULA DE ICONOS DEL MENU PRINCIPAL -->
<div class="page-content pb-0">

  <div data-card-height="cover" class="card bg-theme mb-0">
      
    <div class="card-center text-center">
          <h1 class="font-34 font-900 mb-0">FAROLAPP</h1>
          <p class="font-12 mt-n1">MENÚ MOVIL</p>

          <div class="row mx-auto mt-3 mb-0" style="max-width:320px;">
              <div class="col-4">
                  <a href="#" class="icon icon-xxl bg-yellow-dark rounded-xl mb-1"><i class="fa-solid fa-building-columns"></i></a>
                  <p>{{energias[0].CENTROS}}</p>
              </div>
              <div class="col-4">
                  <a href="index-components.html" class="icon icon-xxl bg-blue-dark rounded-xl mb-1"><i class="fa-solid fa-paintbrush"></i></a>
                  <p>{{energias[1].CENTROS}}</p>
              </div>
              <div class="col-4">
                  <a href="component-sidebars.html" class="icon icon-xxl bg-red-dark rounded-xl mb-1"><i class="fa-solid fa-basketball"></i></a>
                  <p>{{energias[2].CENTROS}}</p>
              </div>
              <div class="col-4">
                  <a href="media.html" class="icon icon-xxl bg-blue-dark rounded-xl mb-1"><i class="fa-solid fa-building"></i></a>
                  <p>{{energias[3].CENTROS}}</p>
              </div>
              <div class="col-4">
                  <a href="media.html" class="icon icon-xxl bg-orange-dark rounded-xl mb-1"><i class="fa-solid fa-school"></i></a>
                  <p>{{energias[4].CENTROS}}</p>
              </div>
              <div class="col-4">
                  <a href="index-pages.html" class="icon icon-xxl bg-brown-dark rounded-xl mb-1"><i class="fa-solid fa-tree"></i></a>
                  <p>{{energias[5].CENTROS}}</p>
              </div>
              <div class="col-4">
                  <a href="#" data-menu="menu-settings" class="icon icon-xxl bg-mint-dark rounded-xl mb-1"><i class="fa-solid fa-water"></i></a>
                  <p>{{energias[6].CENTROS}}</p>
              </div>
              <div class="col-4">
                  <a href="tel:+1 2345 6789" class="default-link icon icon-xxl bg-green-dark rounded-xl mb-1"><i class="fa-solid fa-traffic-light"></i></a>
                  <p>{{energias[7].CENTROS}}</p>
              </div>
              <div class="col-4">
                  <a href="page-contact.html" class="icon icon-xxl bg-blue-dark rounded-xl mb-1"><i class="fa-solid fa-people-carry-box"></i></a>
                  <p>{{energias[8].CENTROS}}</p>
              </div>
          </div>

          <div class="row mx-auto mt-2 mb-0" style="max-width:190px;">
              <div class="col-4">
                  <a href="#" class="icon icon-xxs bg-facebook rounded-xl mb-2"><i class="fab fa-facebook-f"></i></a>
              </div>
              <div class="col-4">
                  <a href="#" class="icon icon-xxs bg-twitter rounded-xl mb-2"><i class="fab fa-twitter"></i></a>
              </div>
              <div class="col-4">
                  <a href="#" class="icon icon-xxs bg-instagram rounded-xl mb-2"><i class="fab fa-instagram"></i></a>
              </div>
          </div>

          <p class="opacity-60 font-10">Copyright <span class="copyright-year"></span> Avanza C.I</p>


      </div>
  </div>

</div>    