    <div class="header header-fixed header-logo-center">
      <a href="index.html" class="header-title"><i class="fas fa-bolt"></i> FarolAPP</a>
      <!-- Principio del menu sidebar -->
      <a class="header-icon header-icon-1" data-menu="menu-sidebar-left-2" href="#">
        <i class="fa font-14 fa-align-left color-yellow-dark"></i>
    </a>
    <!-- FIN DEL SIDEBAR -->
    
    <!-- Principio modal de bootstrap para enviar una critica o mensaje -->
      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" class="header-icon header-icon-2"><i class="fas fa-envelope"></i><span class="badge bg-green1-dark">5 Mensajes nuevos</span></a>  
      <!-- FIN MODAL -->   

      <!-- icono de telefono   -->
      <a href="#"  class="header-icon header-icon-3"><i class="fa fa-phone" aria-hidden="true"></i></a>

      <a href="#" class="header-icon header-icon-4"><i class="fas fa-share-alt"></i></a>
  </div>

